<!DOCTYPE html>
<head></head>

<body>
    
    <h1>Welcome !! <%= email %> </h1>
    <p> 반갑습니다 <%= email %> 님! </p>

    <small>email ejs template -> 현재처럼 지정된 경로에 저장해야함</small>
    <small>email.ejs입니다.</small>

</body>
</html>